<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0DA98D;">
  <a class="navbar-brand" href="#">Kindredbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/posts">Posts</a>
      <a class="nav-item nav-link" href="#">Account</a>
      <a class="nav-item nav-link" href="#">Signout</a>
    </div>
  </div>
</nav>

<% @posts.each do |post| %>
  <p>
  <form>
  <%= post.message %>
  <input type="button" value="<3" id="like">
  </form>
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
